@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Shantell+Sans:wght@300&display=swap');
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


body {
    display: flex;
    justify-content: center;

}

h1{
    font-family: 'Bungee Shade', cursive;
}

h4, article{
    font-family: 'Shantell Sans', cursive;
}

a{
    text-decoration: none;
}

.back-opacity{
    opacity: 0.7;
}

.street-image{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    
}

.red-light{
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.red-light-glow{
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow:
    0 0 160px 30px #ff5858,
    0 0 120px 20px #f0f,
    0 0 140px 20px #ff8797
}

.yellow-light{
    background: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.yellow-light-glow{
    background: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow:
    0 0 160px 30px #d3ff6c,
    0 0 120px 20px rgb(16, 255, 48),
    0 0 140px 20px #fff27d
}

.green-light{
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.green-light-glow{
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow:
    0 0 160px 30px #19f72b,
    0 0 120px 20px rgb(72, 250, 72),
    0 0 140px 20px rgb(46, 240, 159);
}

button{
    border: 0;
}
